.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f09165;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  font-size: 13px;
  height: 320px;
  color:rgb(36, 36, 36);
}

.card-container:hover {
  transform: scale(1.05);
}
