.App {
  text-align: center;
  /* background-color: rgb(85, 85, 85); */
  height: 100vh;
}
.App header > h1 {
  color:rgb(180, 180, 180);
  font-size: 40px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
